<div class="ui-rtl" dir="rtl">
  <p-accordion>
    <p-accordionTab header="About" [selected]="true">
      <div class=ui-g style="font-weight: bolder" >
        <div class="ui-g-12">
            <img src="favicon.ico" height="35" width="35">
        </div>
        <div class="ui-g-12">
          Aplicação: RH Automation
        </div>
        <div class="ui-g-12">
          Desenvolvido por Nexo Soluções em Sistemas®
        </div>
        <div class="ui-g-12">
          <a href="wbaneto@ymail.com" target="_blank">wbaneto@ymail.com</a>
        </div>
        <div class="ui-g-12">
          "Diretos de uso © Att Comercio Importação Exportação Ltda"
        </div>
        <div class="ui-g-12">
          <a href="http://www.estilooppen.com.br/" target="_blank">www.estilooppen.com.br</a>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>